html{
  width : 900px;
  height : 900px;
}

body{
  width : 900px;
  height : 900px;
  background-image: url('./img/bg1.jpg');
  background-size: cover;
  background-repeat : no-repeat;
  position : relative;
}
.none {
  display : none;
}
.appear{
  animation : 0.5s ease-in-out appear forwards;
}
@keyframes appear {
  from{
    opacity : 0;
  }
  to{
    opacity : 1;
  }
}
.disappear{
  animation : 0.5s ease-in-out disappear forwards;
}
@keyframes disappear {
  from{
    opacity : 1;
  }
  to{
    opacity : 0;
  }
}
.fire{
  width : 100px;
  height : 100px;
  position : absolute;
  bottom : 50px;
  left : 250px;
}
.character{
  width : 430px;
  height : 430px;
  position : absolute;
}
.character_fire{
  width : 430px;
  height : 430px;
  position : absolute;
  top : 472px;
  left : 129px;
}
.character2{
  width : 270px;
  height : 270px;
  left : 30px;
  position : absolute;
  animation : 1.5s ease-in-out infinite jump;
}
.rabbit{
  width : 180px;
  height : 180px;
  position : absolute;
  top : 634px;
  animation : 1s ease-in-out infinite shake;
}
audio{
  width : 250px;
  height : 50px;
  position : absolute;
  top : 20px;
  right : -500px;
  opacity: 0.9;
}
.penguin{
  width : 240px;
  height : 240px;
  position : absolute;
  top : 644px;
  right : 1200px;
  animation : 1s ease-in-out infinite shake;
}
@keyframes shake {
  0%{
    transform : rotate(-2deg)
  }
  50%{
    transform : rotate(2deg)
  }
  100%{
    transform : rotate(-2deg)
  }
}
@keyframes jump{
  0%{
    top : 472px
  }
  11%{
    top : 472px
  }
  50%{
    top : 402px;
  }
  80%{
    top :472px;
  }
  100%{
    top :472px;
  }
}
