html{
  width : 900px;
  height : 900px;
}

body{
  width : 900px;
  height : 900px;
  background-image: url('./img/bg1.jpg');
  background-size: cover;
  background-repeat : no-repeat;
}

.character{
  width : 400px;
  height : 400px;
  position : absolute;
}
.character2{
  width : 350px;
  height : 350px;
  position : absolute;
  animation : 1.5s ease-in-out infinite jump;
}

@keyframes jump{
  0%{
    top : 462px
  }
  11%{
    top : 462px
  }
  50%{
    top : 382px;
  }
  80%{
    top :462px;
  }
  100%{
    top :462px;
  }
}
